<div class="container px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <div class="h1 fw-light">Create product</div>
          </div>

          <form [formGroup]="formCreate" (ngSubmit)="onSubmit()">

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="code" placeholder="Code"
                     formControlName="code">
              <label for="code">Code:</label>
              <div *ngIf="!code?.valid && (code?.dirty || code?.touched)">
                <div [hidden]="!code?.errors?.required" class="alert alert-danger">
                  Code is required.
                </div>
                <div [hidden]="!code?.errors?.maxlength" class="alert alert-danger">
                  Code not max length 50 character.
                </div>
                <div [hidden]="!code?.errors?.pattern" class="alert alert-danger">
                  Code customer incorrect format - KH-XXXX (X number 0-9).
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" placeholder="Name customer" name="name"
                     formControlName="name">
              <label for="name">Name:</label>
              <div *ngIf="!name?.valid && (name?.dirty || name?.touched)">
                <div [hidden]="!name?.errors?.required" class="alert alert-danger">
                  Name is required.
                </div>
                <div [hidden]="!name?.errors?.maxlength" class="alert alert-danger">
                  Name not max length 50 character.
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="dateProduct" formControlName="dateProduct">
              <label for="dateProduct">Date product:</label>
              <div *ngIf="!dateProduct?.valid && (dateProduct?.dirty || dateProduct?.touched)">
                <div [hidden]="!dateProduct?.errors?.required" class="alert alert-danger">
                  Birthday is required.
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="description" placeholder="Description"
                     formControlName="description">
              <label for="description">Description:</label>
              <div *ngIf="!description?.valid && (description?.dirty || description?.touched)">
                <div [hidden]="!description?.errors?.required" class="alert alert-danger">
                  Description is required.
                </div>
                <div [hidden]="!description?.errors?.pattern" class="alert alert-danger">
                  Description not max length 50 character.
                </div>
              </div>
            </div>


            <div class="form-floating mb-3">
              <select class="form-select" id="manufacture" formControlName="manufacture"
                      aria-label="Default select example">
                <option [ngValue]="manu" *ngFor="let manu of manufactures">{{manu.name}}</option>
              </select>
              <label for="manufacture">Manufacture:</label>
              <div *ngIf="!manufacture?.valid && (manufacture?.dirty || manufacture?.touched)">
                <div [hidden]="!manufacture?.errors?.required" class="alert alert-danger">
                  Customer type is required.
                </div>
              </div>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-lg" type="submit" [disabled]="!formCreate.valid">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
