<app-header></app-header>

<body>
<nav class="navbar sticky-top" style="background: #388CDB">
  <div class="container-fluid">
    <a href="#" class="btn btn-sm" style="background: #E88246">Back list contract</a>
    <h1>Contract Management</h1>
    <form class="d-flex">
      <input class="form-control-sm me-2" type="search" name="search" placeholder="Search">
      <button class="btn btn-sm" style="background: #E8C431" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <div class="h1 fw-light">Create contract</div>
          </div>

          <form [formGroup]="contractCreateForm" (ngSubmit)="onSubmit()">
<!--            <div formGroupName="contractDate">-->
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate">
              <label for="startDate">Date start </label>
            </div>

            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate">
              <label for="endDate">Date end</label>
            </div>
<!--            </div>-->
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="deposit" name="deposit" placeholder="Deposit" formControlName="deposit">
              <label for="deposit">Deposit</label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select" name="customer" id="customer" aria-label="Default select example" formControlName="customer">
                <option [ngValue]="customer" *ngFor="let customer of customers">{{customer.name}}</option>
              </select>
              <label for="customer">Customer:</label>
            </div>

<!--            <div class="form-floating mb-3">-->
<!--              <select class="form-select" name="employee" id="employee" aria-label="Default select example" formControlName="employee">-->
<!--&lt;!&ndash;                <option [ngValue]="employee.id" *ngFor="let employee of emplyees">{{employee.name}}</option>&ndash;&gt;-->
<!--                <option selected value="">Employee</option>-->
<!--                <option value="1">Employee1</option>-->
<!--                <option value="2">Employee1</option>-->
<!--              </select>-->
<!--              <label for="employee">Employee:</label>-->
<!--            </div>-->

            <div class="form-floating mb-3">
              <select class="form-select" name="facility" id="facility"
                      aria-label="Default select example" formControlName="facility">
                <option [ngValue]="facility" *ngFor="let facility of facilities">{{facility.name}}</option>
              </select>
              <label for="facility">Facility:</label>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

