<app-header></app-header>

<body>
<div>
  <nav class="navbar sticky-top" style="background: #388CDB">
    <div class="container-fluid">
      <a href="#" class="btn btn-sm" style="background: #E88246">Back list facility</a>
      <h1>Facility Management</h1>
      <form class="d-flex">
        <input class="form-control-sm me-2" type="search" name="search" placeholder="Search">
        <button class="btn btn-sm" style="background: #E8C431" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container px-5 my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card border-0 rounded-3 shadow-lg">
          <div class="card-body p-4">
            <div class="text-center">
              <div class="h1 fw-light">Create facility</div>
            </div>

            <form [formGroup]="facilityCreateForm" (ngSubmit)="onSubmit()">

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Name facility" name="name" formControlName="name">
                <label for="name">Name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="area" placeholder="Area" name="area" formControlName="area">
                <label for="area">Area</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cost" placeholder="Cost" name="cost" formControlName="cost">
                <label for="cost">Cost</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="maxPeople" placeholder="Max people" name="maxPeople" formControlName="maxPeople">
                <label for="maxPeople">Max people</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="standardRoom" placeholder="Standard room" name="standardRoom" formControlName="standardRoom">
                <label for="standardRoom">Standard Room</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="descriptionOtherConvenience" placeholder="Description other convenience" name="descriptionOtherConvenience" formControlName="descriptionOtherConvenience">
                <label for="descriptionOtherConvenience">Description other convenience</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="poolArea" placeholder="Pool area" name="poolArea" formControlName="poolArea">
                <label for="poolArea">Pool Area</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="numberOfFloor" placeholder="Number of floor" name="numberOfFloor" formControlName="numberOfFloor">
                <label for="numberOfFloor">Number of floor</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="facilityFree" placeholder="Facility free" name="facilityFree">
                <label for="facilityFree">Facility free</label>
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example" id="rentType" name="rentType" formControlName="rentType">
                  <option [ngValue]="rType.id" *ngFor="let rType of rentTypes">{{rType.name}}</option>
                </select>
                <label for="rentType">Rent type:</label>
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example" id="facilityType" name="facilityType" formControlName="facilityType">
                  <option [ngValue]="fType.id" *ngFor="let fType of facilityTypes">{{fType.name}}</option>
                </select>
                <label for="facilityType">Facility type:</label>
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

