<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List facility</title>
</head>
<body>
<div>

  <nav class="navbar sticky-top" style="background: #388CDB">
    <div class="container-fluid">
      <a href="#" class="btn btn-sm" style="background: #E88246">Create facility</a>
      <h1>Facility Management</h1>
      <form class="d-flex">
        <input class="form-control-sm me-2" type="search" name="search" placeholder="Search">
        <button class="btn btn-sm" style="background: #E8C431" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-6 col-lg-4" style="margin: 10px 0">
      <div class="card">
        <img src="../../assets/image/Vietnam_Danang_Furama_Garden-Superior-TwinBed-1_M2.jpg" height="240" width="371" class="card-img-top" alt="..."><img>
        <div class="card-body">
          <h5 class="card-title">ROOM TWIN 01 </h5>
          <span class="card-text">Room size: 50m<sup>2</sup></span>
          <a href="#" class="card-link" style="float: right">Detail</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4" style="margin: 10px 0">
      <div class="card">
        <img src="../../assets/image/Vietnam_Danang_Furama_Lagoon-Superior-twin-bed-M.jpg" height="240" width="371" class="card-img-top" alt="..."><img>
        <div class="card-body">
          <h5 class="card-title">ROOM TWIN 02 </h5>
          <span class="card-text">Room size: 60m<sup>2</sup></span>
          <a href="#" class="card-link" style="float: right">Detail</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4" style="margin: 10px 0">
      <div class="card">
        <img src="../../assets/image/^224942630D3A5A787C2989A9F5AF4A3E34E6A8CAE8D94FA3D4^pimgpsh_fullsize_distr.jpg" height="240" width="371" class="card-img-top" alt="..."><img>
        <div class="card-body">
          <h5 class="card-title">House Princess 01 </h5>
          <span class="card-text">Room size: 140m<sup>2</sup></span>
          <a href="#" class="card-link" style="float: right">Detail</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4" style="margin: 10px 0">
      <div class="card">
        <img src="../../assets/image/Presidential-Suite-M.jpg" height="240" width="371" class="card-img-top" alt="..."><img>
        <div class="card-body">
          <h5 class="card-title">House Princess 02 </h5>
          <span class="card-text">Room size: 100m<sup>2</sup></span>
          <a href="#" class="card-link" style="float: right">Detail</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4" style="margin: 10px 0">
      <div class="card">
        <img src="../../assets/image/Vietnam_Danang_Furama_Villas_Pool_Villas.jpg" height="240" width="371" class="card-img-top" alt="..."><img>
        <div class="card-body">
          <h5 class="card-title">Villa Beach Front </h5>
          <span class="card-text">Room size: 250m<sup>2</sup></span>
          <a href="#" class="card-link" style="float: right">Detail</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4" style="margin: 10px 0">
      <div class="card">
        <img src="../../assets/image/Vietnam_Danang_Furama_Villas_Beach_Pool_Villas-_Exterior-1-F.jpg" height="240" width="371" class="card-img-top" alt="..."><img>
        <div class="card-body">
          <h5 class="card-title">Villa No Beach Front </h5>
          <span class="card-text">Room size: 220m<sup>2</sup></span>
          <a href="#" class="card-link" style="float: right">Detail</a>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
