<app-header></app-header>

<body>
<nav class="navbar sticky-top" style="background: #388CDB">
  <div class="container-fluid">
    <a href="#" class="btn btn-sm" style="background: #E88246">Back list customer</a>
    <h1>Customer Management</h1>
    <form class="d-flex">
      <input class="form-control-sm me-2" type="search" name="search" placeholder="Search">
      <button class="btn btn-sm" style="background: #E8C431" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <div class="h1 fw-light">Edit customer</div>
          </div>

          <form [formGroup]="customerEditForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3" hidden>
              <input type="text" class="form-control" id="id" placeholder="Name facility" name="id">
              <label for="id">Id</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" placeholder="Name customer" name="name" formControlName="name">
              <label for="name">Name Customer</label>
            </div>
            <div *ngIf="!name?.valid && (name?.dirty || name?.touched)">
              <div [hidden]="!name.hasError('required')" class="alert alert-danger">
                Name customer is required.
              </div>
              <div [hidden]="!name?.errors?.maxlength" class="alert alert-danger">
                Name customer not max length 100 character.
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="code" placeholder="Code customer" name="code"
                     formControlName="code">
              <label for="code">Code customer:</label>
              <div *ngIf="!code?.valid && (code?.dirty || code?.touched)">
                <div [hidden]="!code?.errors?.required" class="alert alert-danger">
                  Code customer is required.
                </div>
                <div [hidden]="!code?.errors?.pattern" class="alert alert-danger">
                  Code customer incorrect format - KH-XXXX (X number 0-9).
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="birthday" name="birthday" formControlName="birthday">
              <label for="birthday">Day of Birth</label>
              <div *ngIf="!birthday?.valid && (birthday?.dirty || birthday?.touched)">
                <div [hidden]="!birthday?.errors?.required" class="alert alert-danger">
                  Birthday is required.
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="idCard" name="idCard" placeholder="ID Card" formControlName="idCard">
              <label for="idCard">ID Card</label>
              <div *ngIf="!idCard?.valid && (idCard?.dirty || idCard?.touched)">
                <div [hidden]="!idCard?.errors?.required" class="alert alert-danger">
                  ID card is required.
                </div>
                <div [hidden]="!idCard?.errors?.pattern" class="alert alert-danger">
                  ID card incorrect format - XXXXXXXXX - XXXXXXXXXXXX (X number 0-9).
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"
                     placeholder="Phone Number">
              <label for="phoneNumber">Phone Number</label>
              <div *ngIf="!phoneNumber?.valid && (phoneNumber?.dirty || phoneNumber?.touched)">
                <div [hidden]="!phoneNumber?.errors?.required" class="alert alert-danger">
                  Phone number is required.
                </div>
                <div [hidden]="!phoneNumber?.errors?.pattern" class="alert alert-danger">
                  Phone number incorrect format - 090xxxxxxx or 091xxxxxxx or (84)+90xxxxxxx or (84)+91xxxxxxx (x number
                  0-9).
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="address" name="address" placeholder="Address" formControlName="address">
              <label for="address">Address</label>
              <div *ngIf="!address?.valid && (address?.dirty || address?.touched)">
                <div [hidden]="!address?.errors?.required" class="alert alert-danger">
                  Address is required.
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName="email">
              <label for="email">Email</label>
              <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                <div [hidden]="!email?.errors?.required" class="alert alert-danger">
                  Email is required.
                </div>
                <div [hidden]="!email?.errors?.pattern" class="alert alert-danger">
                  Email incorrect format email.
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label class="me-5">Gender:</label>
              <label class="radio-inline me-5" for="male"><input class="form-check-input me-2" type="radio"
                                                                 name="gender" id="male" value="true"
                                                                 formControlName="gender">Male</label>
              <label class="radio-inline me-5" for="female"><input class="form-check-input me-2" type="radio"
                                                                   name="gender" id="female" value="false"
                                                                   formControlName="gender">Female</label>
              <div *ngIf="!gender?.valid && (gender?.dirty || gender?.touched)">
                <div [hidden]="!gender?.errors?.required" class="alert alert-danger">
                  Gender is required.
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select" name="customerType" id="customerType" formControlName="customerType"
                      aria-label="Default select example">
                <option [ngValue]="cType.id" *ngFor="let cType of customerTypes">{{cType.name}}</option>
              </select>
              <label for="customerType">Customer type:</label>
              <div *ngIf="!customerType?.valid && (customerType?.dirty || customerType?.touched)">
                <div [hidden]="!customerType?.errors?.required" class="alert alert-danger">
                  Customer type is required.
                </div>
              </div>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
