<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <link rel="stylesheet" href="header.component.css">

</head>
<body>
<div>
  <div>
    <nav class="navbar navbar-expand-lg" style="background: #91A9F7">
      <div class="container-fluid">
        <a class="navbar-brand mx-5" href="/">
          <img
            src="../../assets/image/logo@2x.png"
            height="100"
            alt="Furama Logo"
            loading="lazy"
            style="margin-top: -1px;"
          />
        </a>
        <div class="collapse navbar-collapse justify-content-center me-2">
          <div>
            <a class="nav-link" href="#" style="font-size: 45px; color: #F58C22">Furama Resort</a>
          </div>
        </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-sm px-3 me-2" style="background: #91A9F7">
              Login
            </button>
          </div>

      </div>
    </nav>
  </div>

  <nav class="navbar sticky-top navbar-expand-sm" style="background: #4770F5">
    <div class="container-fluid menu w-100 js-main-menu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-a-tag" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-a-tag" href="#">EMPLOYEE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-a-tag" routerLink="/customer/list">CUSTOMER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  nav-a-tag" href="#">FACILITY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  nav-a-tag" href="#">CONTRACT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</body>
</html>

