<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>-->
<!--<router-outlet></router-outlet>-->

<!--<a routerLink="/youtube">Youtube</a>-->
<!--<router-outlet></router-outlet>-->
<app-nav-bar></app-nav-bar>
<!--<a routerLink="/product/list">Danh sách sản phẩm</a>|<a routerLink="/category/list">Danh sách danh mục sản phẩm</a>-->
<router-outlet></router-outlet>

<!--<a routerLink="/dictionary">List Dictionary</a>-->
<!--<router-outlet></router-outlet>-->

<!--<app-image-gallery></app-image-gallery>-->

<!--<app-img-slider></app-img-slider>-->
