
<body>
<nav class="navbar sticky-top" style="background: #388CDB">
  <div class="container-fluid">
    <a class="btn btn-sm" style="background: #E88246" routerLink="/contract/create">Create contract</a>
    <h1>Contract Management</h1>
    <form class="d-flex">
      <input class="form-control-sm me-2" type="search" name="search" placeholder="Search">
      <button class="btn btn-sm" style="background: #E8C431" type="submit">Search</button>
    </form>
  </div>
</nav>

<table class="table table-success table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Facility</th>
    <th scope="col">Customer</th>
    <th scope="col">Start Day</th>
    <th scope="col">End Day</th>
    <th scope="col">Deposit</th>
    <th scope="col">Total</th>
    <th scope="col">Attach Facility</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contract of contracts; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td>{{contract.facility?.name}}</td>
    <td>{{contract.customer?.name}}</td>
    <td>{{contract.startDate | date: "dd/MM/yyyy" }}</td>
    <td>{{contract.endDate | date: "dd/MM/yyyy"}}</td>
    <td>
      <div *ngIf="contract.deposit">
        <span>{{contract.deposit | currency: "VND"}}</span>
      </div>
    </td>
    <td></td>
    <td>
      <button type="button" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#add-contract">
        +
      </button>
      <button type="button" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal"
              data-bs-target="#attach-facility">
        List Attach Facility
      </button>
    </td>
  </tr>
  </tbody>
</table>



