<div class="container justify-content-center">
  <div class="col-5">
    <h3>Form Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="email" placeholder="Email" name="email" formControlName="email">
        <label for="email">Email</label>
      </div>
      <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
        <div [hidden]="!email?.errors?.required" class="alert alert-danger">
          Email is required
        </div>
        <div [hidden]="!email?.errors?.pattern" class="alert alert-danger">
          Email invalid
        </div>
      </div>

      <div formGroupName="pwGroup">
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                 formControlName="password">
          <label for="password">Password</label>
        </div>
        <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
          <div [hidden]="!password?.errors?.required" class="alert alert-danger">
            Password is required
          </div>
          <div [hidden]="!password?.errors?.minlength" class="alert alert-danger">
            Password must have min length of 6.
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                 formControlName="confirmPassword"
                 placeholder="Confirm Password">
          <label for="confirmPassword">Confirm Password</label>
          <div *ngIf="!confirmPassword?.valid && (confirmPassword?.dirty || confirmPassword?.touched)">
            <div [hidden]="!confirmPassword?.errors?.required" class="alert alert-danger">
              Password is required
            </div>
            <div [hidden]="!confirmPassword?.errors?.minlength" class="alert alert-danger">
              Password must have min length of 6.
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) && registerForm.get('pwGroup')?.touched">
        Password does not match!
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="age" name="age" placeholder="Age" formControlName="age">
        <label for="age">Age</label>
      </div>
      <div *ngIf="!age?.valid && (age?.dirty || age?.touched)">
        <div [hidden]="!age?.errors?.required" class="alert alert-danger">
          Age is required
        </div>
        <div [hidden]="!age?.errors?.min" class="alert alert-danger">
          Age must bigger 18.
        </div>
      </div>

      <div class="form-group mb-3">
        <label>Gender</label>
        <div class="form-check">
          <label class="form-check-label" for="male">Male</label>
          <input class="form-check-input" type="radio" name="gender" id="male" value="male" formControlName="gender">
        </div>
        <div class="form-check">
          <label class="form-check-label" for="female">Female</label>
          <input class="form-check-input" type="radio" name="gender" id="female" value="female"
                 formControlName="gender">
        </div>
      </div>
      <div *ngIf="!gender?.valid && (gender?.dirty || gender?.touched)">
        <div [hidden]="!gender?.errors?.required" class="alert alert-danger">
          Gender is required
        </div>
      </div>


      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="phone" name="phone" formControlName="phone"
               placeholder="Phone">
        <label for="phone">Phone</label>
      </div>
      <div *ngIf="!phone?.valid && (phone?.dirty || phone?.touched)">
        <div [hidden]="!phone?.errors?.required" class="alert alert-danger">
          Phone is required
        </div>
        <div [hidden]="!phone?.errors?.pattern" class="alert alert-danger">
          Phone incorrect format - (+84) + 9 or 10 number.
        </div>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" name="country" id="country" formControlName="country"
                aria-label="Default select example">
          <option [ngValue]="country.id" *ngFor="let country of countryList">{{country.name}}</option>
        </select>
        <label for="country">Country</label>
      </div>
      <div *ngIf="!country?.valid && (country?.dirty || country?.touched)">
      <div [hidden]="!country?.errors?.required" class="alert alert-danger">
        Country is required
      </div>
    </div>


      <div class="d-grid">
        <button class="btn btn-primary btn-lg" id="submitButton" type="submit" [disabled]="!registerForm.valid">Submit</button>
      </div>
    </form>
  </div>

</div>
