<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit facility</title>
</head>
<body>
<div>
  <nav class="navbar sticky-top" style="background: #388CDB">
    <div class="container-fluid">
      <a href="#" class="btn btn-sm" style="background: #E88246">Back list facility</a>
      <h1>Facility Management</h1>
      <form class="d-flex">
        <input class="form-control-sm me-2" type="search" name="search" placeholder="Search">
        <button class="btn btn-sm" style="background: #E8C431" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container px-5 my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card border-0 rounded-3 shadow-lg">
          <div class="card-body p-4">
            <div class="text-center">
              <div class="h1 fw-light">Edit facility</div>
            </div>

            <form>
              <div class="form-floating mb-3" hidden>
                <input type="text" class="form-control" id="id" placeholder="Name facility" name="id">
                <label for="id">Id</label>
              </div>


              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Name facility" name="name">
                <label for="name">Name facility</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="area" placeholder="Area" name="area">
                <label for="area">Area</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cost" placeholder="Cost" name="cost">
                <label for="cost">Cost</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="max-people" placeholder="Max people" name="max_people">
                <label for="max-people">Max people</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="standard-room" placeholder="Standard room" name="standard_room">
                <label for="standard-room">Standard Room</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="description-other-convenience" placeholder="Description other convenience" name="description_other_convenience">
                <label for="description-other-convenience">Description other convenience</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="pool-area" placeholder="Pool area" name="pool_area">
                <label for="pool-area">Pool Area</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="number-of-floor" placeholder="Number of floor" name="number_of_floor">
                <label for="number-of-floor">Number of floor</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="facility-free" placeholder="Facility free" name="facility_free">
                <label for="facility-free">Facility free</label>
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Rent type</option>
                  <option value="1">Year</option>
                  <option value="2">Month</option>
                  <option value="3">Day</option>
                  <option value="4">Hour</option>
                </select>
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Facility type</option>
                  <option value="1">Villa</option>
                  <option value="2">House</option>
                  <option value="3">Room</option>
                </select>
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
