<nav class="navbar sticky-top" style="background: #388CDB">
  <div class="container-fluid">
    <div>
      <a class="btn btn-sm me-2" style="background: #E88246" routerLink="/product/list">Back list product</a>

      <a class="btn btn-sm me-2" style="background: #E88246" routerLink="/product/create">Create product</a>
  </div>
    <h1>Product Management</h1>
    <form class="d-flex">
      <input class="form-control-sm me-2" type="search" name="search" placeholder="Search">
      <button class="btn btn-sm" style="background: #E8C431" type="submit">Search</button>
    </form>
  </div>
</nav>
